In [ ]:
# Q-1: when to use for loop and while loop in python,give example

In [ ]:
#For loop is used when the number of iterations is already known. 
#While loop is used when the number of iterations is already Unknown. it execute the loop till condition is true.

In [1]:
#For loop example
l= [1,2,3,4,5]

for i in l:
    print(i)

1
2
3
4
5

In [2]:
#While loop example

x= 1

while x <= 10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Q.2: print sum and product of first 10 natural number using for and while loop

In [35]:
num = int(input("Enter number"))
sum = 0
for i in range (1, num+1):
    sum = sum+i
print (sum)

Enter number 10

55

In [40]:
num = int(input("enter number"))
mult = 1
for i in range (1,num+1):
    mult= mult*i
print(mult)

enter number 10

3628800

In [2]:
num = int(input("Enter number"))
sum = 0          
while (num > 0):
        sum  += num
        num -= 1
    
print(sum)

Enter number 10

55

In [5]:
num = int(input("Enter number"))
mult = 1          
while (num > 0):
        mult  *= num
        num -= 1
    
print(mult)

Enter number 10

3628800

In [7]:
x = int(input("enter number"))
if (x> 300):
        sum =( (x-300)*20+100*10+100*6+100*(4.5))
elif (x > 200 and x <= 300):
        sum =( 100*10+100*6+100*(4.5))
elif (x > 100 and x <= 200):
        sum =(100*6+100*(4.5)) 
elif (x > 0 and x <= 100):
        sum =( 100*(4.5)) 
print(int(sum))

enter number 310

2250

In [49]:
# Q-4:  Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that number.

In [50]:
l=[]
for i in range (1,10):
    
    l.append(i**3)
print (l)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [51]:
l=[]
for i in range (1,10):
    
    l.append(i**3)
print (l)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
s = "I want to become a data scientists"
count = 0
for i in s ('a','e','i','o','u')